[Unit]
Description=Planbcoin's distributed currency daemon
After=network.target

[Service]
User=planbcoin
Group=planbcoin

Type=forking
PIDFile=/var/lib/planbcoind/planbcoind.pid
ExecStart=/usr/bin/planbcoind -daemon -pid=/var/lib/planbcoind/planbcoind.pid \
-conf=/etc/planbcoin/planbcoin.conf -datadir=/var/lib/planbcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
